.head {
  
}

.headeralign {
    color:rgb(58, 75, 88);
      display:block;
      position:static;
      font-size:30px;
      padding: rem;
      padding-top:1rem;
      margin-left:31rem;
   }

.mypic {
   display: block; 
   top:-4rem;
   margin-left: 12rem;
   position:relative;
   max-width:20%; 
   max-height:auto; 
   border: 5px double rgb(68, 88, 102) ; border-radius: 50%;
}

h4 {
   position:relative;
   top:-18rem;
   margin-left: 31rem;
   color: rgb(53, 69, 80)
}
body {
   font-family: Arial, Helvetica, sans-serif;
   background-color: rgb(148, 167, 179); 
}

h1 {
   font-size: 40px;
   color:rgb(53, 69, 80);
}

.bulletlist {
         border: 1px dashed rgb(0, 0, 0); 
         background-color: rgb(0, 0, 0); 
         width: 6%;
         font-size: 1.2rem;
         margin: 0.5rem;
         padding: 3rem;
         padding-top: 1rem;
         padding-bottom: 1rem;
}

title {
    font-family: Arial, Helvetica, sans-serif;
}

.educat {
      border: 1px solid rgb(217, 230, 238);
      background-color: rgb(217, 230, 238);
      width:90%rem;
      font-size: 2%rem;
      margin: 0.8rem;
      margin-left: 0.5rem;
      margin-right: 0,5rem;
      padding: 1rem;
      padding-top: 0.5rem;
}

h2 {
   color:rgb(68, 88, 102);
}

h3 {
   color:rgb(94, 103, 110);
}

ul {
   list-style: none;
}

ul li::before {
           content: "\2022"; color: rgb(128, 145, 145); font font-weight: bold; display: inline-block; width: lem; margin-left: -2em;
} 

footer {
   background-color:rgb(217, 230, 238);
}

.linkediname {
   font-weight:bold;
   top:5vh;
   left:-5vh;
 }

/*unvisited link*/
a:link {
   color:rgb(94, 103, 110);
   font-family:Arial, Helvetica, sans-serif;
   text-decoration:none;
   position:relative;
}

/*visited link*/
a:visited {
   color:rgb(81, 118, 146);
   font-family:Arial, Helvetica, sans-serif;
   text-decoration:none;
}

/*mouse over link*/
a:hover {
   color:rgb(35, 115, 219);
   font-size:100%;
   font-family:Arial, Helvetica, sans-serif;
   text-decoration:underline;
}

/*selected link*/
a:activate {
    color:rgb(68, 146, 248);
    font-family:Arial, Helvetica, sans-serif;
    text-decoration:underline;
}